:root{
    --primary-color : #0A6bd3;
    --secondary-color : #63a1e4;
    --color-text : #000000;
    --navbar-color : #849092;
    --navbar-color-text: #141686;
    --logo-color : #193b5f;
    
}